body{
    margin: 0;
    padding: 0;
    
}

.container{
    margin: auto;
    height: 200px;
    width: 300px;
    padding: 20px;
    border: 4px solid red;
    border-radius: 20px;
    position: relative;

}

.div1{
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
    justify-content: right;
    right: -13px;
    text-align: center;
}

.div1 h1{
    color: white;
    font-size: 5px;
}

form{
    margin: 0 auto;
    text-align: center;
}

label {
    font-weight: 600;
    font-size: 20px;
}

.input {
    height: 30px;
    min-width: 250px;
}

.sub {
    width: 80px;
    font-size: 20px;
}
